.advice {
  box-shadow: 1px 2px 2px $color-dark-blue;
  border-radius: 5px;
  margin: 1rem;
  min-width: 50%;
  padding: 4rem 4rem 6rem 4rem;
  background-color: $color-dark-grayfish-blue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  position: relative;

  &__id {
    color: $color-neon-green;
    font-size: 2rem;
  }

  &__detail {
    text-align: center;
  }
}

.button {
  height: 4.8rem;
  width: 4.8rem;
  border: none;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  // &:hover,
  // &:active {
  //   &::after {
  //     filter: blur(15px);
  //   }
  // }

  &::after {
    content: '';
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 50%;

    position: absolute;
    z-index: -1;
    background-color: inherit;
  }
}

.enable {
  background-color: $color-neon-green;
  cursor: pointer;

  &.button.loading svg {
    animation: loading 2s infinite;
  }

  &.button:hover,
  &.button:active {
    &::after {
      filter: blur(15px);
    }
  }
}

.disable {
  background-color: $color-light-cyan;
  cursor: auto;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
